/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require editor
 *= require_tree .
 */

 body {
  // min-height: 2000px;
  padding-top: 70px;
  font-family: 'Oxygen';
}

.container {
  max-width: 730px;
  position: relative;
}

.navbar {
  /*line-height: 70px;*/
}

.navbar-default {
  background-color: #ffffff;
}

.navbar-brand {
  font-size: 30px;
}

.navy-collapse {
  font-size: 20px;
}

.navbar-brand, .navy-collapse {
  
  /*line-height: 40px;*/
}

.navy {
  border-bottom: 2px solid #dddddd;
  /*min-height: 70px;*/
  /*line-height: 70px;*/
}
